@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-y: scroll;
}

/* Project Card */
.project_card-title {
	@apply justify-end items-end w-full h-3/4 bg-gradient-to-b from-transparent to-black/75 gap-2 absolute bottom-0 right-0 text-base text-white p-4;
}

/* Projects Display */
.comic {
  display: grid;
  grid-auto-rows: 15rem;
  @apply gap-3;
}

@media screen and (min-width: 768px) {
  .comic-grid {
    grid-template-columns: repeat(21, 1fr);
  }

	.comic-grid-w-normal {
		grid-column: span 7;
	}
	.comic-grid-w-narrow {
		grid-column: span 6;
	}
	.comic-grid-w-wide {
		grid-column: span 9;
	}
	.comic-grid-w-superwide {
		grid-column: span 15;
	}
	.comic-grid-w-super {
		grid-column: span 14;
	}

	.comic-grid-h-normal {
		grid-row: span 1 / auto;
	}
	.comic-grid-h-tall {
		grid-row: span 2 / auto;
	}
}

/* Rich text */
.richtext {
	@apply prose prose-neutral dark:prose-invert prose-a:text-blue-600 hover:prose-a:text-blue-500;
}
